@import "variables";
@import "utilities";

// General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  line-height: 1.6;
}

a {
  color: $dark-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  // Keep images in their containers
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;

  &:hover {
    color: $main-color;
    border-color: $main-color;
  }
}

// Navbar
#nav {
  display: flex;
  justify-content: center;
  margin: 5px;

  ul {
    display: flex;
    justify-self: right;
  }

  li {
    padding: 1rem 1.5rem;
  }
}

// Header
#header {
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: $medium-color;

    // Header Content
    .header-content {
      color: #222;
      text-align: center;
      padding-top: 12%;

      h1 {
        font-size: 3rem;
        line-height: 1.2;
      }

      h2 {
        margin-bottom: 15px;
      }
    }
  }

  &-inner {
  }
}

// About
.section-title {
  padding: 15px;
  border-bottom: 2px $main-color solid;
  text-align: center;
}
.about {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2rem;
  align-items: center;
  margin: 20px;

  p {
    align-items: center;
    font-size: 1.2rem;
  }
}

.profile-pic {
  border-radius: 50%;
}

// Technologies
.tech-section {
  margin-bottom: 30px;
  h3 {
    margin: 20px 0px;
  }
  p {
    text-align: center;
    margin-top: 7px;
  }
}

.front-end {
  margin-top: 30px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}

i {
  color: $main-color;
}

.iconify {
  font-size: 5rem;
  color: $main-color;
  margin-bottom: 10px;
}

// .rails {
//   font-size: 7rem;
// }

// Projects
.projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  margin: 30px;

  p {
    align-self: center;
  }

  h3 {
    justify-self: center;
  }

  a {
    color: $dark-color;
  }

  i {
    color: $secondary-color;
    margin-bottom: 5px;
    justify-self: center;
  }
}
